.idea/
*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
pytorch/yolo/darknet-master/old/
pytorch/yolo/darknet-master/mnist/
pytorch/yolo/darknet-master/data/
pytorch/yolo/darknet-master/caffe/
pytorch/yolo/darknet-master/grasp/
pytorch/yolo/darknet-master/images/
pytorch/yolo/darknet-master/opencv/
pytorch/yolo/darknet-master/convnet/
pytorch/yolo/darknet-master/decaf/
pytorch/yolo/darknet-master/submission/
pytorch/yolo/darknet-master/cfg/
pytorch/yolo/data/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp